<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class="scene_background">
      <div class="sign_in_block">
        <p>Sign In</p>
        <div class="enter_email">
          <input type="text" placeholder="Email Address">
        </div>
        <div class="enter_password">
          <input type="text" placeholder="Password">
        </div>
        <div class="sign_in_button">
          <input class="signin_btn" type="button" value="SIGN IN">
        </div>
        <div class="signup_area">
          <p>not a member?</p>
          <input class="signup_btn" type="button" value="SIGN UP">
        </div>
        <div class="horizontal_line"></div>
        <div class="google_login_area">
          <img src="/images/google.png" alt="">
          <input type="button" value="GOOGLE LOGIN">
        </div>
        <div class="facebook_login_area">
          <img src="/images/FB.png" alt="">
          <input type="button" value="FACEBOOK LOGIN">
        </div>
      </div>
    </div>
  </body>
</html>
