<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/namespace.css">
</head>
<body>
  <%- include('./customAlert.ejs'); %>
  <header>
    <span>Chatvas</span>
  </header>
  <div class="namespaces_area">
    <% if (namespaces.length > 0) { %>
      <% for (let i = 0; i < namespaces.length; i++) { %>
        <div class="namespaceBlock" id=namespaceId_<%= namespaces[i].namespaceId%>>
          <p><%= namespaces[i].namespaceName %></p>
          <input type="button" class="invite_from_namespace_block_btn" value="invite people to workspace">
          <input type="button" class="enter_namespace_btn" value="enter this workspace">
        </div>
      <% } %>
    <% } else { %> <h2>There is no namespace of you, you can create a new one and invite person with their email</h2> <%} %>
  </div>
  <div id="float_button">
    <img src="/images/addNamespace.png" alt="">
  </div>
  <!-- 新增 namespace 彈窗 -->
  <div id="emailInputModal">
    <div class="modal-content">
      <div class="description">
        <span></span>
        <p>Set workspace</p>
        <span class="close">&times;</p>
      </div>
      <div class="namespace_input">
        <input type="text" placeholder="create a namespace">
      </div>
      <div class="function_area">
        <input class="enter_email" type="text" placeholder="person's email">
        <img  class="confirmBtn" src="/images/confirm.png" alt="">
        <!-- <input class="confirmBtn" type="button"> -->
      </div>
      <div class="invite_email_area"></div>
      <input id="invite_btn" type="button" value="invite">
    </div>
  </div>
  <script type="text/javascript">
    let currentUser = <%- JSON.stringify(currentUser) %>;
  </script>
  <script src="/javascripts/customAlert.js"></script>
  <script src="/javascripts/emailInputModal.js"></script>
  <script src="/javascripts/namespace.js"></script>
</body>
</html>