<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/userLanguage.css">
</head>
<body>
  <div id="blur_background"></div>
  <div id="user_basic">
    <h3>User Setting</h3>
    <img src="<%= userAvatar %>" alt="">
    <!-- 這邊之後要再加上可以上傳使用者大頭貼的部分 -->
    <p>User name: <%= userName %></p>
    <p>User Email: <%= userEmail %></p>
    <select name="" id="">
      <option value="en">English</option>
      <option value="zh-TW">Traditional Chinese</option>
    </select>
    <input class="enter_button" type="button" value="Enter Chat Page">
  </div>
  <script src="/javascripts/userLanguage.js"></script>
</body>
</html>