* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #469BE5;
  border-bottom: 0.5px solid #fff;
  color: #fff;
}

#room_title {
  width: 95%;
  text-align: center;
}

#room_title h1 {
  margin: 0;
  font-weight: 500;
}

#small_avatar {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#small_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* 聊天區塊 */
.content {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

/* 左半邊側欄 */
.side_pad {
  width: 30%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  background-color: #E6E6E6;
  padding: 10px;
}

.upper_section {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.upper_section .room_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.room_header {
  border-bottom: 0.5px solid #E6E6E6;
}

.room_header p {
  padding-left: 5px;
  color: #276BE8;
  font-weight: 900;
  font-size: 18px;
}

.room_header .add_room {
  width: 50px;
  height: 50px;
  background-image: url('../images/plus.png');
}

.upper_section .room_title {
  padding-left: 7px;
  margin-top: 10px;
  font-weight: 600;
}
/* 彈出式視窗 (create channel) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px 15px 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.modal-content .enter_member_name {
  margin-bottom: 10px;
}

/* The Close Button */
.close {
  text-align: right;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h3 {
  margin: 0;
}

.modal-content .enter_channel_name,
.modal-content .enter_member_name {
  border-radius: 5px;
  border: 1px solid #000000;
  outline: none;
  padding-left: 10px;
  height: 30px;
}

/* 彈出式視窗 - 會員列表選單 */
.select-box {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.select-box p {
  margin: 0;
  font-weight: bold;
}

.select-box .options-container {
  background: #003e85;
  color: #FFF;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected {
  background: #003e85;
  border-radius: 8px;
  margin: 8px 0;
  color: #FFF;
  position: relative;
  order: 0;
  outline: none;
  /* 測試 tag input 加的*/
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.selected::after {
  content: '';
  background: url("/images/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  transition: all 0.5s;
  outline: none;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: auto;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

 .select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #012D5C;
}

.select-box label {
  cursor: pointer;
  font-weight: bold;
}

.select-box .option .radio {
  display: none;
}
/* tags input 測試加上去的 */
/* 姓名標籤 */
.nameTag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  color: #000000;
  border-radius: 5px;
  margin: 5px;
  padding: 3px; 
}

.nameTag img {
  width: 20px;
  height: 20px;
}
/* 聊天視窗 */
.chat_content {
  width: 70%;
  overflow: hidden;
}

#chat_area {
  width: 100%;
  height: calc(95% - 3px);
  background-color: #E6E6E6;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#message_flow_area {
  overflow-y: auto;
  background-color: #E6E6E6;
}

#resize {
  width: 100%;
  height: 3px;
  cursor: row-resize;
  float: left;
  background-color: #E6E6E6;
}

#draw_area {
  width: 100%;
  float: right;
  height: 5%;
  background-color: #FFFFFF;
}

/* 聊天區塊內部 */
#message_input {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
  color: #fff;
  border: 1px solid #E6E6E6;
  border-radius: 7px;
  justify-content: space-between;
  align-items: center;
}

#message_flow_area .message_block {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.message_block .messageUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message_block .userName {
  font-size: 10px;
  margin: 0;
}

.message_block .messageDetail p {
  font-size: 14px;
  margin: 5px 0;
}

.message_block .messageTime {
  font-size: 3px;
  margin-top: 3px;
}

.messageHost {
  flex-direction: row-reverse;
}

.messageReceiver {
  flex-direction: row;
}

/* 對話框共有 */
.messageDetail {
  padding: 2px 10px;
  border-radius: 5px;
}

.messageReceiver .messageDetail {
  background-color: #FFF;
  color: black;
}

.messageHost .messageDetail {
  background-color: #469BE5;
  color: #FFF;
}

.messageHost .messageOuterBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.messageReceiver .messageOuterBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#message_flow_area img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px;
}

#message_window {
  width: 90%;
  border: 0px;
  outline: none;
  padding-left: 15px;
}

#send_btn {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
