* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #469BE5;
  border-bottom: 0.5px solid #fff;
  color: #fff;
}

#room_title {
  width: 95%;
  text-align: center;
}

#room_title h1 {
  margin: 0;
  font-weight: 500;
}

#small_avatar {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#small_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* 聊天區塊 */
.content {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

/* 左半邊側欄 */
.side_pad {
  width: 30%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  background-color: #E6E6E6;
  padding: 10px;
}

.upper_section {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.upper_section .room_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.room_header {
  border-bottom: 0.5px solid #E6E6E6;
}

.room_header p {
  padding-left: 5px;
  color: #276BE8;
  font-weight: 900;
  font-size: 18px;
}

.room_header .add_room {
  width: 50px;
  height: 50px;
  background-image: url('../images/plus.png');
}

.upper_section .room_title {
  padding-left: 7px;
  margin-top: 10px;
  font-weight: 600;
}
/* 彈出式視窗 (create channel) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.modal-content .enter_member_name {
  margin-bottom: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* 聊天視窗 */
.chat_content {
  width: 70%;
  overflow: hidden;
}

#chat_area {
  width: 100%;
  height: calc(95% - 3px);
  background-color: #E6E6E6;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

#message_flow_area {
  overflow-y: auto;
  background-color: #E6E6E6;
}

#resize {
  width: 100%;
  height: 3px;
  cursor: row-resize;
  float: left;
  background-color: #E6E6E6;
}

#draw_area {
  width: 100%;
  float: right;
  height: 5%;
  background-color: #FFFFFF;
}

/* 聊天區塊內部 */
#message_input {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
  color: #fff;
  border: 1px solid #E6E6E6;
  border-radius: 7px;
  justify-content: space-between;
  align-items: center;
}

#message_flow_area .message_block {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

#message_flow_area .messageHost {
  flex-direction: row-reverse;
}

#message_flow_area .messageReceiver {
  flex-direction: row;
}

#message_flow_area .message_block p {
  margin: 5px 0;
  font-size: 14px;
}

/* 對話框共有 */
#message_flow_area .nameAndMessage {
  padding: 10px;
  border-radius: 5px;
}

#message_flow_area .messageReceiver .nameAndMessage {
  background-color: #FFF;
  color: black;
  
}

#message_flow_area .messageHost .nameAndMessage {
  background-color: #469BE5;
  color: #FFF;
}

#message_flow_area .message_block .userName {
  font-weight: 600;
}

#message_flow_area img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px;
}

#message_window {
  width: 90%;
  border: 0px;
  outline: none;
  padding-left: 15px;
}

#send_btn {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
