* {
  box-sizing: border-box;
}

body, html {
  /* height: 100%;
  margin: 0 */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scene_background {
  /* background-image: url('/images/beachSky.jpg'); */
  /* height: 100%; */
  /* Add the blur effect */
  /* filter: blur(6px);
  -webkit-filter: blur(6px); */
  /* Center and scale the image nicely */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* opacity: 0.4; */
  /* z-index: -1; */
}

header {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  color: #FFF;
  font-weight: 600;
  font-size: 40px;
  background-color: #051057;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 40px;
  font-weight: 600; */
}

header span {
  margin: 0;
  cursor: pointer;
}

.namespaces_area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 20px;
  position: absolute;
  top: 60px;
  left: 0;
  overflow: auto;
}

.namespaceBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2)
}

.namespaceBlock p {
  margin: 0;
  width: 100%;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
} 

.namespaceBlock input {
  width: 100%;
  height: 30px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  background-color: rgba(0, 71, 125, 0.5);
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

/* 彈窗 */
#emailInputModal {
  display: none;
  position: fixed;
  z-index: 6;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #3252A8;
  margin: auto;
  padding: 0 10px 10px 10px;
  width: 50%;
  position: relative;
  min-height: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal-content .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.description p {
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: #FFF;
}

.close {
  /* position: absolute;
  top: 0;
  right: 10px; */
  color: #FFF;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(0, 0, 0, .4);
  text-decoration: none;
  cursor: pointer;
}

.namespace_input {
  margin-bottom: 10px;
}

.namespace_input input {
  width: 100%;
  border-radius: 3px;
  padding-left: 5px;
  min-height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: 600;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.function_area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.enter_email {
  height: 30px;
  padding-left: 5px;
  border-radius: 3px;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: 600;
  outline: none;
}

.confirmBtn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.invite_email_area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.emailTag {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 10px 5px 0;
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
}

.deleteEmail {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#invite_btn {
  border-radius: 5px;
  background-color: #3252A8;
  /* background-color: rgba(0, 191, 255, 0.8); */
  height: 35px;
  border: 1.5px solid #FFF;
  color: #FFFFFF;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

/* 右下方按鈕 */
#float_button img {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}



