* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #F8F8F8;
}

.scene_background {
  background-image: url('/images/home.jpg');
  height: 100%;
  /* Add the blur effect */
  /* filter: blur(6px);
  -webkit-filter: blur(6px); */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  /* z-index: -1; */
}


.namespaces_area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 20px;
  position: absolute;
  top: 115px;
  left: 0;
  overflow: auto;
  background-color: #f8f8f8;
}

.namespaceBlock {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2)
}

.namespaceBlock p {
  margin: 0;
  width: 100%;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
} 

.namespaceBlock input {
  width: 100%;
  height: 30px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  background-color: #5299D3;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

/* 彈窗 */
#emailInputModal {
  display: none;
  position: fixed;
  z-index: 6;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #FFF;
  margin: auto;
  padding: 15px 20px 15px 20px;
  width: 40%;
  position: relative;
  min-height: 100px;
  border-radius: 5px;
  /* border: 1.5px solid #1a237e; */
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
}

.modal-content .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.description p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.close {
  /* position: absolute;
  top: 0;
  right: 10px; */
  color: #FFF;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(0, 0, 0, .4);
  text-decoration: none;
  cursor: pointer;
}

.namespace_input {
  margin-bottom: 10px;
}

.namespace_input input {
  width: 100%;
  border-radius: 5px;
  padding-left: 5px;
  min-height: 30px;
  border: 1.5px solid rgb(162, 126, 115);
  font-weight: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  outline: none;
}

.function_area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.enter_email {
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  width: 90%;
  border: 1.5px solid	rgb(162, 126, 115);
  outline: none;
  color: rgba(0, 0, 0, 1);
}

.confirmBtn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.invite_email_area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.emailTag {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 10px 5px 0;
  padding: 5px;
  background-color: rgb(247, 173, 61);
  border-radius: 3px;
  color: #FFFFFF;
}

.deleteEmail {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#invite_btn {
  border-radius: 5px;
  background-color: #A27E73;
  /* height: 35px; */
  border: 1px solid #FFF;
  color: #FFFFFF;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  padding: 7px 0;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 右下方按鈕 */
#float_button img {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 25px;
  cursor: pointer;
}



