* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scene_background {
  background-image: url('/images/home.jpg');
  height: 100%;
  width: 100%;
  /* Add the blur effect */
  /* filter: blur(2px); */
  /* -webkit-filter: blur(2px); */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

#title {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 2;
  text-align: start;
  line-height: 60px;
  background-color: #16496A;
  display: flex;
}

#title p {
  font-size: 40px;
  color: #FFF;
  margin: 0;
  padding-left: 25px;
}

#login_content {
  /* width: 98%; */
  width: 100%;
  /* height: calc(100% - 100px); */
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  /* z-index: 2; */
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* left: 0; */
  position: absolute;
  top: 105px;
  left: 0;
  height: calc(100% - 105px);
  background-color: #f8f8f8;
  /* top: 70px; */
  /* background-color: rgb(237, 237, 237); */
}

/* .decoration_area, 
.function_area {
  width: 50%;
} */



/* .decoration_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#description {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

.decoration_area video {
  width: 90%;
  max-height: 400px;
} */

.function_area {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  min-width: 40%;
}

.sign_in_block {
  /* position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  background-color: #ffffff;
  z-index: 2;
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 5px; */
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 5px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  background-color: #FFF;
}

.sign_in_block p {
  margin: 15px 0 15px 0;
  font-size: 24px;
  color: #000;
}

.sign_in_area,
.signup_area,
.horizontal_line,
.facebook_login_area,
.google_login_area
{
  width: 80%;
}

.sign_in_block input {
  width: 100%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #cbd5ff;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  /* 外框效果消失 */
  outline: none
}

.sign_in_button input {
  background-color: #3d5afe;
  height: 40px;
  color: #ffffff;
  cursor: pointer;
}

.sign_in_block a {
  text-decoration: none;
}

.sign_in_block a p {
  font-size: 16px;
  color: rgba(171, 169, 169);
  text-align: center;
  font-weight: normal;
  margin-bottom: 10px;
  cursor: pointer;
}

#not_member_hint {
  margin-top: 10px;
}

#has_already_member {
  margin-bottom: 10px;
}

.signup_area p {
  font-size: 16px;
  color: rgba(171, 169, 169);
  text-align: center;
  font-weight: normal;
  margin-bottom: 10px;
  cursor: pointer;
}

.signup_area .signup_btn {
  background-color: #0BD1DB;
  height: 40px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
}

.horizontal_line {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1.5px;
  background-color: #ECF0F1;
}

.facebook_login_area, 
.google_login_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.facebook_login_area {
  /* border: 1px solid #273c75;  */
  /* background-color: #273c75; */
  background-color: rgba(0, 71, 125);
  border: 1px solid rgba(0, 71, 125);;
}

.google_login_area {
  border: 1px solid #E84118;
  background-color: #E84118;
}

.facebook_login_area img,
.google_login_area img {
  width: 30px;
  height: 30px;
}

.facebook_login_area input,
.google_login_area input {
  margin: 0;
  border: none;
  width: 60%;
  padding: 0;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
}

.facebook_login_area input {
  background-color: rgba(0, 71, 125, 0);
}

.google_login_area input {
  background-color: #E84118;
}

/* 選擇語言跟大頭貼 */
.set_language_avatar_area {
  display: none;
}