* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

#blur_background {
  background-image: url('../images/sky.jpg');
  height: 100%;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#user_basic {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  background-color: #ffffff;
  text-align: center;
  z-index: 2;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 10px;
}

#user_basic img {
  width: 100px;
  height: 100px;
}

#user_basic p {
  margin-bottom: 0px;
}

#user_basic select {
  margin: 16px 0;
  outline: none;
}

#user_basic .enter_button {
  border-radius: 5px;
  border: 1px solid #03E3FC;
  background-color: #03E3FC;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}