* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

#blur_background {
  background-image: url('../images/sky.jpg');
  height: 100%;
  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.set_language_avatar_area {
  display: none;
  width: 100%;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  min-height: 300px;
}

.loginStatus {
  display: block;
}

#user_basic {
  /* position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  background-color: #ffffff;
  text-align: center;
  z-index: 2;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 10px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  background-color: #FFF;
}

#left_avatar_area, 
#right_language_area {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upper_avatar_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}

#lower_language_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}

#lower_language_area .userLanguage,
#lower_language_area .select-box {
  width: 50%;
}

#user_basic img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#user_basic .userLanguage {
  margin: 5px 0;  
  color: #000;
  font-size: 16px;
}

#user_basic .setting_user_name {
  margin: 5px 0;
  color: #000;
  font-size: 20px;
  font-weight: normal;
}

/* 客製化下拉選單 */
.select-box {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.select-box p {
  margin: 0;
}

.select-box .options-container {
  background: #ffbd4a;
  color: #FFF;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected {
  background: #ffbd4a;
  border-radius: 8px;
  margin: 8px 0;
  color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding-right: 15px;
  /* padding-left: 30px; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.selected p {
  width: calc(100% - 35px);
  padding-left: 15px;
  text-align: center;
}

.selected #decoration_arrow {
  width: 20px;
  height: 20px;
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px; */
}
/* .selected::after {
  content: '';
  background: url("/images/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  transition: all 0.5s;
} */

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
}

.select-box .options-container.active + .selected  #decoration_arrow {
  transform: rotateX(180deg);
}

.select-box .option {
  text-align: center;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}

.select-box .option:hover {
  background: rgba(255, 255, 255, 0.2);
}

.select-box label {
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
}

.select-box .option .radio {
  display: none;
}

/* 客製化上傳檔案按鈕 */
#customFileInput {
  display: none;
}

.upload_button_box {
  width: 50%;
}

.upload_button_box span {
  color: #FFF;
  font-size: 16px;
  font-weight: normal;
}

#user_basic .upload_button_box .button-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 17px;
  background-color: #ff5c5c;
  padding: 5px 10px;
}

#user_basic .icon {
  width: 40px;
  height: 40px;  
}

#user_basic .enter_button {
  width: 85%;
  border-radius: 5px;
  border: 1px solid #A27E73;
  background-color: #A27E73;
  padding: 10px;
  color: #FFF;
  font-weight: 600;
  margin-top: 15px;
  cursor: pointer;
  outline: none;
}