* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

#blur_background {
  background-image: url('../images/sky.jpg');
  height: 100%;
  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#user_basic {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  background-color: #ffffff;
  text-align: center;
  z-index: 2;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 10px;
}

#user_basic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#user_basic p {
  margin-bottom: 0px;
  font-weight: bold;
}

/* 客製化下拉選單 */
.select-box {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.select-box p {
  margin: 0;
  font-weight: bold;
}

.select-box .options-container {
  background: #003e85;
  color: #FFF;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected {
  background: #003e85;
  border-radius: 8px;
  margin: 8px 0;
  color: #FFF;
  position: relative;
  order: 0;
}

.selected::after {
  content: '';
  background: url("/images/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  transition: all 0.5s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  /* overflow-y: auto; */
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

/* .select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
} */

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #012D5C;
}

.select-box label {
  cursor: pointer;
  font-weight: bold;
}

.select-box .option .radio {
  display: none;
}

/* 客製化上傳檔案按鈕 */
#customFileInput {
  display: none;
}

#user_basic .upload_button_box .button-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#user_basic .icon {
  width: 40px;
  height: 40px;  
}

#user_basic .enter_button {
  border-radius: 5px;
  border: 1px solid #03A1FC;
  background-color: #03A1FC;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}